aniso8601
certifi
chardet
click
Flask
Flask-RESTful
gunicorn
idna
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
pandas
python-dateutil
pytz
requests
scikit-learn
scipy
six
threadpoolctl
torch
typing-extensions
urllib3
Werkzeug
